<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caetp.digiex.entity.mapper.DepositUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.caetp.digiex.entity.DepositUserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="reqid" jdbcType="VARCHAR" property="reqid" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="login" jdbcType="INTEGER" property="login" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="opration_time" jdbcType="TIMESTAMP" property="oprationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, reqid, member_id, login, amount, opration_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from deposit_user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from deposit_user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.caetp.digiex.entity.DepositUserInfo">
    insert into deposit_user_info (id, reqid, member_id, 
      login, amount, opration_time
      )
    values (#{id,jdbcType=INTEGER}, #{reqid,jdbcType=VARCHAR}, #{memberId,jdbcType=INTEGER}, 
      #{login,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{oprationTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.caetp.digiex.entity.DepositUserInfo">
    insert into deposit_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="reqid != null">
        reqid,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="login != null">
        login,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="oprationTime != null">
        opration_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="reqid != null">
        #{reqid,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="login != null">
        #{login,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="oprationTime != null">
        #{oprationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caetp.digiex.entity.DepositUserInfo">
    update deposit_user_info
    <set>
      <if test="reqid != null">
        reqid = #{reqid,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="login != null">
        login = #{login,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="oprationTime != null">
        opration_time = #{oprationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caetp.digiex.entity.DepositUserInfo">
    update deposit_user_info
    set reqid = #{reqid,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=INTEGER},
      login = #{login,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      opration_time = #{oprationTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>